  .pagina-principal-dois {
    max-width: 95%;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
    padding-bottom: 5%;
  }

  .pagina-principal-cursos {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
  }

  .pagina-principal-cursos-lista {
    padding: 5px 25px 5px 25px;
    border: 2px solid #ccc;
    margin-top: 30px;
    margin: 1% 1% 1% 1%;
}

.pagina-principal-cursos-criacao-excluir {
  display: flex;
  gap: 20px;
}

  h1 {
    font-size: 32px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
    text-align: center;
  }

  hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 30px 0;
  }

  #course-details,
  #create-course,
  #delete-course {
    display: flex;
    flex-direction: column;
    width: 95%;
    align-self: center;
    align-items: center;
    border: 1px solid #ccc;
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  #delete-course {
    width: 50%;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  button {
    padding: 10px 10px;
    font-size: 16px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #23527c;
  }

  .course-info {
    padding: 10px 10px 10px 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  .course-info:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }

  .course-info:active {
    background-color: #8a8282;
    outline: blue auto 5px; 
    cursor: pointer;
  }