* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: rgb(206, 197, 197) !important;
}

main {
  align-items: center;
}

.cabecalho {
  background-color: black !important;
  color: white;
  padding: 2% 0% 2% 5%;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.imagem_logo {
  width: 100px;
}

.cabecalho_menu {
  display: flex;
  flex-direction: row;
  padding: 1% 10px 1%;
  padding-block-end: 2px;
  gap: 10px;
  align-items: baseline;
  text-align: justify;
}

a {
  color: inherit;
}

.inscreva-se {
  background-color: gray !important;
  color: white;
  font-size: 20px;
  padding: 1% 1% 1% 1%;
  display: flex;
  height: auto;
  width: auto;
  text-align: center;
}

.abaAtual {
  display: flex;
  flex-direction: row;
  padding-left: 5%;
  padding-top: 2%;
  align-items: baseline;
  gap: 1%;
  justify-content: flex-start;
}

.pagina-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 5% 15%;
  font-size: 25px;
  justify-content: center;
}

.pagina-principal-dois {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 5% 15%;
}

.pagina-principal-dois h1 {
  font-size: 40px;
  padding-bottom: 10px;
}

.pagina-principal-dois h2 {
  font-size: 25px;
  font-weight: 600;
}

.pagina-principal-dois h3 {
  font-size: 18px;
  font-weight: 400;
}

.pagina-principal-texto{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.imagem-principal {
  width: 300px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
}

.imagens-cursos {
  width: 100px;
}

.cursos-main {
  font-size: 15px;
  margin: auto;
  width: 80%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke
}

.todosCursos {
  display: flex;
  margin: auto;
  width: 50%;
  flex-direction: row;
  text-align: center;
}

.info-curso-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  float: right;
  justify-content: center;
}

.rodape {
  color: white;
  background-color: black;
  padding: 24px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.carousel {
  width: 500px;
  margin: 0 auto;
  position: relative;
}

.slide-container {
  display: flex;
  overflow: hidden;
}

.slide {
  width: 100%;
}

#prevButton,
#nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

#prevButton {
  left: 0;
}

#nextButton {
  right: 0;
}